/* navbar.component.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: purple;
    color: white;
  }
  
  .navbar-left .shoname {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  