.cart-container {
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
    max-width: 100px;
    height: auto;
  }
  
  .item-details {
    flex: 1;
    padding-left: 10px;
  }
  
  .item-details h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .total-price {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  button {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #6c3483;
  }
  