/* search.component.css */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-bar {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid purple;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: purple;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .search-button:hover {
    background-color: #555;
  }
  